.calculator-app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.calculator {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  background-color: gray;
  text-align: right;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.Digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.zero {
  grid-column: span 2;
}

.button {
  height: 50px;
  color: black;
  font-weight: 300;
  cursor: pointer;
}

.Operators {
  background-color: orangered;
}
